p {
font-family: 'Nanum Gothic', sans-serif !important;
}

h1 {
    font-family: 'Permanent Marker' , cursive !important;
}


body {

background-image: url(../assets/october_roadtrip_arches01.JPG)

}

#firstbox {
    border: 10px;
    border-color: black;
    background-image: url(../assets/october_roadtrip_arches01.JPG)!important;
}