p {
font-family: 'Nanum Gothic', sans-serif !important;
}

h1 {
    font-family: 'Permanent Marker' , cursive !important;
}

/* 
html {

background: url(../assets/camp-4363073.svg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;



} */

body { 
    background: url(../assets/camp-4363073.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

 #nav-links {
     margin: 20px;
     background-color: white;
 }

 #first-box {
     background-color: aliceblue;
 }
